BethesdaConsentFormWCFSvc/Service References/DocumentConverterService/061.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2009/10/06" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2009/10/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" />
  <xs:import schemaLocation="" namespace="http://types.muhimbi.com/2010/05/17" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data.Graphics" />
  <xs:import schemaLocation="" namespace="http://types.muhimbi.com/2010/11/22" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OpenOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefreshContent" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowExternalConnections" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="AllowMacros" type="q1:MacroSecurityOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenOptions" nillable="true" type="tns:OpenOptions" />
  <xs:complexType name="ConversionSettings">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="Format" type="q2:OutputFormat" />
      <xs:element minOccurs="0" name="StartPage" type="xs:int" />
      <xs:element minOccurs="0" name="EndPage" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="Range" type="q3:ConversionRange" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="Quality" type="q4:ConversionQuality" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="PDFProfile" type="q5:PDFProfile" />
      <xs:element minOccurs="0" name="OpenPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="SecurityOptions" type="q6:SecurityOptions" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="Fidelity" type="q7:ConversionFidelities" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="GenerateBookmarks" type="q8:BookmarkGenerationOption" />
      <xs:element xmlns:q9="http://types.muhimbi.com/2010/05/17" minOccurs="0" name="Watermarks" nillable="true" type="q9:ArrayOfWatermark" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data.Graphics" minOccurs="0" name="PageOrientation" type="q10:PageOrientation" />
      <xs:element xmlns:q11="http://types.muhimbi.com/2010/11/22" minOccurs="0" name="ConverterSpecificSettings" nillable="true" type="q11:ConverterSpecificSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionSettings" nillable="true" type="tns:ConversionSettings" />
  <xs:complexType name="WebServiceFaultException">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="ExceptionType" type="q12:WebServiceExceptionType" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExceptionDetails" nillable="true" type="q13:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceFaultException" nillable="true" type="tns:WebServiceFaultException" />
  <xs:complexType name="ProcessingOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="SourceFiles" nillable="true" type="tns:ArrayOfSourceFile" />
      <xs:element minOccurs="0" name="MergeSettings" nillable="true" type="tns:MergeSettings" />
      <xs:element minOccurs="0" name="SplitOptions" nillable="true" type="tns:FileSplitOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessingOptions" nillable="true" type="tns:ProcessingOptions" />
  <xs:complexType name="ArrayOfSourceFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SourceFile" nillable="true" type="tns:SourceFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSourceFile" nillable="true" type="tns:ArrayOfSourceFile" />
  <xs:complexType name="SourceFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="OpenOptions" nillable="true" type="tns:OpenOptions" />
      <xs:element minOccurs="0" name="ConversionSettings" nillable="true" type="tns:ConversionSettings" />
      <xs:element minOccurs="0" name="MergeSettings" nillable="true" type="tns:FileMergeSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceFile" nillable="true" type="tns:SourceFile" />
  <xs:complexType name="FileMergeSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="TopLevelBookmark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMergeSettings" nillable="true" type="tns:FileMergeSettings" />
  <xs:complexType name="MergeSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="BreakOnError" type="xs:boolean" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="PDFProfile" type="q14:PDFProfile" />
      <xs:element minOccurs="0" name="OpenPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerPassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://types.muhimbi.com/2010/05/17" minOccurs="0" name="Watermarks" nillable="true" type="q15:ArrayOfWatermark" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="SecurityOptions" type="q16:SecurityOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MergeSettings" nillable="true" type="tns:MergeSettings" />
  <xs:complexType name="FileSplitOptions">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="FileSplitType" type="q17:FileSplitType" />
      <xs:element minOccurs="0" name="BatchSize" type="xs:int" />
      <xs:element minOccurs="0" name="BookmarkLevel" type="xs:int" />
      <xs:element minOccurs="0" name="FileNameTemplate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileSplitOptions" nillable="true" type="tns:FileSplitOptions" />
  <xs:complexType name="BatchResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfBatchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchResults" nillable="true" type="tns:BatchResults" />
  <xs:complexType name="ArrayOfBatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatchResult" nillable="true" type="tns:BatchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatchResult" nillable="true" type="tns:ArrayOfBatchResult" />
  <xs:complexType name="BatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchResult" nillable="true" type="tns:BatchResult" />
  <xs:complexType name="Configuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConversionServerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Converters" nillable="true" type="tns:ArrayOfConverterConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Configuration" nillable="true" type="tns:Configuration" />
  <xs:complexType name="ArrayOfConverterConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConverterConfiguration" nillable="true" type="tns:ConverterConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConverterConfiguration" nillable="true" type="tns:ArrayOfConverterConfiguration" />
  <xs:complexType name="ConverterConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConverterName" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="SupportedFidelity" type="q18:ConversionFidelities" />
      <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SupportedFileExtensions" nillable="true" type="q19:ArrayOfstring" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SupportedOutputFormats" nillable="true" type="q20:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConverterConfiguration" nillable="true" type="tns:ConverterConfiguration" />
  <xs:complexType name="ArrayOfDiagnosticRequestItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosticRequestItem" nillable="true" type="tns:DiagnosticRequestItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosticRequestItem" nillable="true" type="tns:ArrayOfDiagnosticRequestItem" />
  <xs:complexType name="DiagnosticRequestItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConverterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosticRequestItem" nillable="true" type="tns:DiagnosticRequestItem" />
  <xs:complexType name="Diagnostics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDiagnosticResultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Diagnostics" nillable="true" type="tns:Diagnostics" />
  <xs:complexType name="ArrayOfDiagnosticResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiagnosticResultItem" nillable="true" type="tns:DiagnosticResultItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnosticResultItem" nillable="true" type="tns:ArrayOfDiagnosticResultItem" />
  <xs:complexType name="DiagnosticResultItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="ExceptionType" type="q21:WebServiceExceptionType" />
      <xs:element minOccurs="0" name="ConverterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiagnosticResultItem" nillable="true" type="tns:DiagnosticResultItem" />
</xs:schema>