BethesdaConsentFormWCFSvc/Service References/DocumentConverterService/Muhimbi.DocumentConverter.WebService.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MacroSecurityOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SignedOnly" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MacroSecurityOption" nillable="true" type="tns:MacroSecurityOption" />
  <xs:simpleType name="OutputFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF" />
      <xs:enumeration value="XPS" />
      <xs:enumeration value="DOCX" />
      <xs:enumeration value="DOC" />
      <xs:enumeration value="ODT" />
      <xs:enumeration value="RTF" />
      <xs:enumeration value="TXT" />
      <xs:enumeration value="MHT" />
      <xs:enumeration value="HTML" />
      <xs:enumeration value="XML" />
      <xs:enumeration value="XLS" />
      <xs:enumeration value="XLSX" />
      <xs:enumeration value="CSV" />
      <xs:enumeration value="ODS" />
      <xs:enumeration value="PPT" />
      <xs:enumeration value="PPTX" />
      <xs:enumeration value="ODP" />
      <xs:enumeration value="PPS" />
      <xs:enumeration value="PPSX" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OutputFormat" nillable="true" type="tns:OutputFormat" />
  <xs:simpleType name="ConversionRange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VisibleDocuments" />
      <xs:enumeration value="AllDocuments" />
      <xs:enumeration value="ActiveDocuments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConversionRange" nillable="true" type="tns:ConversionRange" />
  <xs:simpleType name="ConversionQuality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OptimizeForPrint" />
      <xs:enumeration value="OptimizeForOnScreen" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConversionQuality" nillable="true" type="tns:ConversionQuality" />
  <xs:simpleType name="PDFProfile">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF_1_5" />
      <xs:enumeration value="PDF_A1B" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFProfile" nillable="true" type="tns:PDFProfile" />
  <xs:simpleType name="SecurityOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DisablePrint" />
          <xs:enumeration value="DisableHighResolutionPrint" />
          <xs:enumeration value="DisableContentCopy" />
          <xs:enumeration value="DisableAnotations" />
          <xs:enumeration value="DisableFormFields" />
          <xs:enumeration value="DisableContentAccessibility" />
          <xs:enumeration value="DisableDocumentAssembly" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="SecurityOptions" nillable="true" type="tns:SecurityOptions" />
  <xs:simpleType name="ConversionFidelities">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="High" />
          <xs:enumeration value="Full" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ConversionFidelities" nillable="true" type="tns:ConversionFidelities" />
  <xs:simpleType name="BookmarkGenerationOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookmarkGenerationOption" nillable="true" type="tns:BookmarkGenerationOption" />
  <xs:simpleType name="PresentationsPrintOutputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Slides">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OneSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwoSlideHandouts" />
      <xs:enumeration value="ThreeSlideHandouts" />
      <xs:enumeration value="FourSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SixSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NineSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotesPages">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outline">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PresentationsPrintOutputType" nillable="true" type="tns:PresentationsPrintOutputType" />
  <xs:simpleType name="CadConversionElementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllLayouts" />
      <xs:enumeration value="NamedLayout" />
      <xs:enumeration value="TopView" />
      <xs:enumeration value="BottomView" />
      <xs:enumeration value="LeftView" />
      <xs:enumeration value="RightView" />
      <xs:enumeration value="FrontView" />
      <xs:enumeration value="BackView" />
      <xs:enumeration value="SW_IsometricView" />
      <xs:enumeration value="SE_IsometricView" />
      <xs:enumeration value="NE_IsometricView" />
      <xs:enumeration value="NW_IsometricView" />
      <xs:enumeration value="NamedView" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadConversionElementType" nillable="true" type="tns:CadConversionElementType" />
  <xs:simpleType name="CadEmptyLayoutDetectionMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="SkipNone" />
      <xs:enumeration value="SkipEmptyLayouts" />
      <xs:enumeration value="SkipLayoutsWithoutViewports" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadEmptyLayoutDetectionMode" nillable="true" type="tns:CadEmptyLayoutDetectionMode" />
  <xs:simpleType name="CadLayoutSortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadLayoutSortOrder" nillable="true" type="tns:CadLayoutSortOrder" />
  <xs:simpleType name="HTMLScaleMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="FitWidth" />
      <xs:enumeration value="NoScale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HTMLScaleMode" nillable="true" type="tns:HTMLScaleMode" />
  <xs:simpleType name="RevisionsAndCommentsMarkupMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InLine">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Balloon">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mixed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RevisionsAndCommentsMarkupMode" nillable="true" type="tns:RevisionsAndCommentsMarkupMode" />
  <xs:simpleType name="RevisionsAndCommentsDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FinalShowingMarkup">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Final">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OriginalShowingMarkup">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Original">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RevisionsAndCommentsDisplayMode" nillable="true" type="tns:RevisionsAndCommentsDisplayMode" />
  <xs:simpleType name="WebServiceExceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="FileFormatNotSupported" />
      <xs:enumeration value="CorruptDocument" />
      <xs:enumeration value="ErrorOpeningFile" />
      <xs:enumeration value="ConversionTimeOut" />
      <xs:enumeration value="ConverterNotResponding" />
      <xs:enumeration value="ConverterNotInstalled" />
      <xs:enumeration value="InternalError" />
      <xs:enumeration value="OutputFormatNotSupported" />
      <xs:enumeration value="ConfigurationError" />
      <xs:enumeration value="TrialExpired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebServiceExceptionType" nillable="true" type="tns:WebServiceExceptionType" />
  <xs:simpleType name="FileSplitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByNumberOfPages" />
      <xs:enumeration value="ByBookmarkLevel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileSplitType" nillable="true" type="tns:FileSplitType" />
</xs:schema>