ConsentFormInterface/Service References/ServiceReference1/ConsentFormSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6139/ConsentFormSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" />
  <xs:element name="AddTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="treatment" nillable="true" type="q1:Treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consentType" type="q2:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetTreatmentResult" nillable="true" type="q3:Treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>