ConsentFormInterface/Service References/ServiceReference1/ConsentFormSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsentFormSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6139/ConsentFormSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6139/ConsentFormSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6139/ConsentFormSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConsentFormSvc_AddTreatment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTreatment" />
  </wsdl:message>
  <wsdl:message name="ConsentFormSvc_AddTreatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTreatmentResponse" />
  </wsdl:message>
  <wsdl:message name="ConsentFormSvc_GetTreatment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTreatment" />
  </wsdl:message>
  <wsdl:message name="ConsentFormSvc_GetTreatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTreatmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsentFormSvc">
    <wsdl:operation name="AddTreatment">
      <wsdl:input wsaw:Action="http://tempuri.org/ConsentFormSvc/AddTreatment" message="tns:ConsentFormSvc_AddTreatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ConsentFormSvc/AddTreatmentResponse" message="tns:ConsentFormSvc_AddTreatment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTreatment">
      <wsdl:input wsaw:Action="http://tempuri.org/ConsentFormSvc/GetTreatment" message="tns:ConsentFormSvc_GetTreatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ConsentFormSvc/GetTreatmentResponse" message="tns:ConsentFormSvc_GetTreatment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ConsentFormSvc" type="tns:ConsentFormSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTreatment">
      <soap:operation soapAction="http://tempuri.org/ConsentFormSvc/AddTreatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreatment">
      <soap:operation soapAction="http://tempuri.org/ConsentFormSvc/GetTreatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsentFormSvc">
    <wsdl:port name="BasicHttpBinding_ConsentFormSvc" binding="tns:BasicHttpBinding_ConsentFormSvc">
      <soap:address location="http://localhost:6139/ConsentFormSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>