ConsentFormInterface/Service References/ServiceReference1/ConsentFormSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Treatment">
    <xs:sequence>
      <xs:element minOccurs="0" name="_consentType" type="tns:ConsentType" />
      <xs:element minOccurs="0" name="_doctorAndPrcedures" nillable="true" type="tns:ArrayOfDoctorAndPrcedure" />
      <xs:element minOccurs="0" name="_isPatientUnableSign" type="xs:boolean" />
      <xs:element minOccurs="0" name="_patientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_signatureses" nillable="true" type="tns:ArrayOfSignatures" />
      <xs:element minOccurs="0" name="_trackingInformation" nillable="true" type="tns:TrackingInformation" />
      <xs:element minOccurs="0" name="_translatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_unableToSignReason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Treatment" nillable="true" type="tns:Treatment" />
  <xs:simpleType name="ConsentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Surgical" />
      <xs:enumeration value="Cardiovascular" />
      <xs:enumeration value="OutsideOR" />
      <xs:enumeration value="Endoscopy" />
      <xs:enumeration value="BloodConsentOrRefusal" />
      <xs:enumeration value="PlasmanApheresis" />
      <xs:enumeration value="PICC" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsentType" nillable="true" type="tns:ConsentType" />
  <xs:complexType name="ArrayOfDoctorAndPrcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorAndPrcedure" nillable="true" type="tns:DoctorAndPrcedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorAndPrcedure" nillable="true" type="tns:ArrayOfDoctorAndPrcedure" />
  <xs:complexType name="DoctorAndPrcedure">
    <xs:sequence>
      <xs:element minOccurs="0" name="_precedures" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_primaryDoctorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorAndPrcedure" nillable="true" type="tns:DoctorAndPrcedure" />
  <xs:complexType name="ArrayOfSignatures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Signatures" nillable="true" type="tns:Signatures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignatures" nillable="true" type="tns:ArrayOfSignatures" />
  <xs:complexType name="Signatures">
    <xs:sequence>
      <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_signatureContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_signatureType" type="tns:SignatureType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Signatures" nillable="true" type="tns:Signatures" />
  <xs:simpleType name="SignatureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DoctorSign1" />
      <xs:enumeration value="DoctorSign2" />
      <xs:enumeration value="DoctorSign3" />
      <xs:enumeration value="DoctorSign4" />
      <xs:enumeration value="DoctorSign5" />
      <xs:enumeration value="DoctorSign6" />
      <xs:enumeration value="DoctorSign7" />
      <xs:enumeration value="PatientSign" />
      <xs:enumeration value="PatientAuthorizeSign" />
      <xs:enumeration value="WitnessSignature1" />
      <xs:enumeration value="WitnessSignature2" />
      <xs:enumeration value="PICCSignature" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SignatureType" nillable="true" type="tns:SignatureType" />
  <xs:complexType name="TrackingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="_device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_iP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingInformation" nillable="true" type="tns:TrackingInformation" />
</xs:schema>