WindowsCEConsentForms/Service References/FormHandlerService/basic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Consent.sp.wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Consent.sp.wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssociatedDoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttnDr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MRHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryDoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementOfConsent" nillable="true" type="tns:StatementOfConsent" />
      <xs:element minOccurs="0" name="Translatedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnableToSignReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDetail" nillable="true" type="tns:PatientDetail" />
  <xs:complexType name="StatementOfConsent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutologousUnits" type="xs:boolean" />
      <xs:element minOccurs="0" name="DirectedUnits" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementOfConsent" nillable="true" type="tns:StatementOfConsent" />
  <xs:simpleType name="ConsentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Surgical" />
      <xs:enumeration value="Cardiovascular" />
      <xs:enumeration value="OutsideOR" />
      <xs:enumeration value="Endoscopy" />
      <xs:enumeration value="BloodConsentOrRefusal" />
      <xs:enumeration value="PlasmanApheresis" />
      <xs:enumeration value="PICC" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConsentType" nillable="true" type="tns:ConsentType" />
  <xs:simpleType name="SignatureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DoctorSign1" />
      <xs:enumeration value="DoctorSign2" />
      <xs:enumeration value="DoctorSign3" />
      <xs:enumeration value="DoctorSign4" />
      <xs:enumeration value="DoctorSign5" />
      <xs:enumeration value="DoctorSign6" />
      <xs:enumeration value="DoctorSign7" />
      <xs:enumeration value="PatientSign" />
      <xs:enumeration value="PatientAuthorizeSign" />
      <xs:enumeration value="WitnessSignature1" />
      <xs:enumeration value="WitnessSignature2" />
      <xs:enumeration value="PICCSignature" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SignatureType" nillable="true" type="tns:SignatureType" />
  <xs:complexType name="DoctorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrimaryDoctor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorDetails" nillable="true" type="tns:DoctorDetails" />
  <xs:complexType name="TrackingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingInfo" nillable="true" type="tns:TrackingInfo" />
  <xs:complexType name="ArrayOfDoctorAndProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorAndProcedure" nillable="true" type="tns:DoctorAndProcedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorAndProcedure" nillable="true" type="tns:ArrayOfDoctorAndProcedure" />
  <xs:complexType name="DoctorAndProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" name="_precedures" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_primaryDoctorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorAndProcedure" nillable="true" type="tns:DoctorAndProcedure" />
</xs:schema>