WindowsCEConsentForms/Service References/FormHandlerService/basic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Consent.sp.wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Consent.sp.wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssociatedDoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttnDr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MRHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryDoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementOfConsent" nillable="true" type="tns:StatementOfConsent" />
      <xs:element minOccurs="0" name="Translatedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnableToSignReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDetail" nillable="true" type="tns:PatientDetail" />
  <xs:complexType name="StatementOfConsent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutologousUnits" type="xs:boolean" />
      <xs:element minOccurs="0" name="DirectedUnits" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementOfConsent" nillable="true" type="tns:StatementOfConsent" />
  <xs:complexType name="DoctorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPrimaryDoctor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorDetails" nillable="true" type="tns:DoctorDetails" />
  <xs:complexType name="TrackingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingInfo" nillable="true" type="tns:TrackingInfo" />
  <xs:complexType name="ArrayOfDoctorAndProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DoctorAndProcedure" nillable="true" type="tns:DoctorAndProcedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctorAndProcedure" nillable="true" type="tns:ArrayOfDoctorAndProcedure" />
  <xs:complexType name="DoctorAndProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" name="_precedures" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_primaryDoctorId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorAndProcedure" nillable="true" type="tns:DoctorAndProcedure" />
</xs:schema>