WindowsCEConsentForms/Service References/FormHandlerService/basic1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devsp1.atbapps.com:6139/ConsentFormSvc.svc/basic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" />
  <xs:import schemaLocation="http://devsp1.atbapps.com:6139/ConsentFormSvc.svc/basic?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="treatment" nillable="true" type="q1:Treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTreatmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consentType" type="q2:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetTreatmentResult" nillable="true" type="q3:Treatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consentType" type="q4:ConsentType" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="signatureType" type="q5:SignatureType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPatientSignatureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTablesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConsentFormType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetPatientDetailResult" nillable="true" type="q6:PatientDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientfromLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientfromLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPatientfromLocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAndUploadPDFtoSharePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RelativeUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="ConsentFormType" type="q7:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateAndUploadPDFtoSharePointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consentType" type="q8:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProceduresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProceduresResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConsentTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProcedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="procedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consentTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProceduresResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProcedureName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="procedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="procedureID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProcedureNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProcedureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProcedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProceduresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListProceduresResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consentType" type="q10:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetDoctorDetailsResult" nillable="true" type="q11:ArrayOfDoctorDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetDoctorDetailResult" nillable="true" type="q12:DoctorDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDoctors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primaryDoctorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedDoctorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="GetAssociatedDoctorsResult" nillable="true" type="q13:ArrayOfAssociatedDoctorDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePdFFolderPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consenttype" type="q14:ConsentType" />
        <xs:element minOccurs="0" name="FolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePdFFolderPathResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdFFolderPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BethesdaConsentFormWCFSvc" minOccurs="0" name="consenttype" type="q15:ConsentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdFFolderPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPdFFolderPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>